.product-text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size : 22px;
    text-align: center;
    color: #028940;
}

.title-text-veggies {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size : 14px;
    text-align: center;
    color: #028940;
}

.title-text-sauces {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size : 14px;
    text-align: center;
    color: #af2111;
}

.images{
    margin-left:20px;
}