.product-text {
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    font-size: 18px !important; 
    line-height: 1.2 !important;    
    color: #028940 !important;
}

.besin-text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.2;  
    font-size: 12px;  
    color: white;
    text-align: center;
}

.calories-text {
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;  
    font-size: 17px !important;  
    color: black !important;
    text-align: center;
}


button {
    background-color: white;
}

ion-item {
    text-decoration: none !important;
}

.segments {
    background:#00543D !important;
    color:white !important;
    font-size:15px !important;
    border: 1px solid yellow !important;
}

.label-text {
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    font-size: 22px !important; 
    line-height: 1.2 !important;    
    color: red !important;
    text-align: center;
}

.bg-color {
    background: #9ddbca !important;
}

.images{
    margin-left:20px;
}